Q1.Createafile“people.txt”withthefollowingdata:

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [1]:
from google.colab import drive
drive.mount('/content/drive')
import os
os.chdir('/content/drive/My Drive/DMQuestions/')

Mounted at /content/drive

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_table('DMQ1dataset.txt', delim_whitespace = True, names=('Age','Agegroup','Height','Status','Yearsmarried'))

In [5]:
df

   Age Agegroup  Height   Status  Yearsmarried
0   21    adult     6.0   single            -1
1    2    child     3.0  married             0
2   18    adult     5.7  married            20
3  221  elderly     5.0  widowed             2
4   34    child    -7.0  married             3

1.The age should be in the range 0-150.

In [6]:
#lambda expressions
#lambda arguements: expression
age_range = lambda r : r in range(151)              #151 excluded, it will continue till 150  , and lambda(r) is arguement
df['Age'].apply(age_range)                          #seriesly on the column of data it will apply age_range function

0     True
1     True
2     True
3    False
4     True
Name: Age, dtype: bool

2.The age should be greater than years married.

In [15]:
age_limit = lambda x: x[0] > x[4]
df.apply(age_limit,axis=1)

0     True
1     True
2    False
3     True
4     True
dtype: bool

3.The status should be married or single or widowed.

In [12]:
def check_status(df):
  status_check = lambda r : r #in df['Status'].values
  print(df['Status'].apply(status_check))

check_status(df)

0     single
1    married
2    married
3    widowed
4    married
Name: Status, dtype: object

4.If age is less than 18 the age group should be child,if age is between 18 and 65 the age group should be adult,if age is more than 65 the age group should be elderly.

In [9]:
Agegroupcheck = lambda x : x[1]
df[['Age', 'Agegroup']].apply(Agegroupcheck, axis =1)

0      adult
1      child
2      adult
3    elderly
4      child
dtype: object

In [10]:
df1 = df[['Age', 'Agegroup']]
print(df1)

   Age Agegroup
0   21    adult
1    2    child
2   18    adult
3  221  elderly
4   34    child